* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(216, 137, 137); */
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
}
.btn {
    padding: 5px 18px;
    border-radius: 5px;
    color: white;
    background-color: red;
}
@media only screen and (max-width: 768px) {
    .fetchmovies {
        grid-template-columns: auto auto auto;
    }

}

.bow {
    display: flex;
    justify-self: end;
    align-self: en;
}
.movie-poster {
    object-fit: cover;
}